#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
    display: flex;
}

.about-col-1 img {
    width: 100%;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-size: 18px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #1e90ff ;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #1e90ff ;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #1e90ff ;
    font-size: 20px;
}
.tab-contents li{
    font-size: 22px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents a, .tab-contents i{
    color: #1e90ff ;
}
li.lang{
    list-style: disc;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #1e90ff ;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.htmlcss{
    width: 90%;
    animation-delay: 0.1s;
}
.skill-per.unity{
    width: 65%;
    animation-delay: 0.2s;
}
.skill-per.sql{
    width: 60%;
    animation-delay: 0.3s;
}
.skill-per.python{
    width: 25%;
    animation-delay: 0.4s;
}
.skill-per.javascript{
    width: 15%;
    animation-delay: 0.5s;
}
span#js2{
    display: none;
}
span#js1{
    display: block;
}
.skill-per.wpf{
    width: 10%;
    animation-delay: 0.6s;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #1e90ff ;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #1e90ff ;
    transform: translateX(-50%) rotate(45deg);
}
.container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
.container-about:nth-child(1) {
    background: #b6916d;
}
.container-about img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: left;
}
.reveal {
    visibility: hidden;
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 500px;
    overflow: hidden;
}
.credit {
    font-family: Termina, sans-serif;
    position: absolute;
    bottom: 10px;
}
.credit a {
    color: white;
}
