header{
    width: 100%;
    height: 100vh;
    background-image: url('../images/background/background.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #1e90ff ;
}