nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #f1edef;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.icon-container {
    position: absolute;
    top: 27px;
    right: 0;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 5px;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: right;
    transition: 0.5s;
}
.icon-container i{
    font-size: 25px;
    margin-right: 10px;
    transition: 0.5s;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    transition: 0.5s;
}
.dropdown-content a:hover{
    background-color: #1e90ff ;
    color: #fff;
    transition: 0.2s;
}
.dropdown-content img{
    width: 32px;
    display: flex;
    align-items: flex-start;
    padding-right: 10px;
}
.icon-container:hover .dropdown-content {
    display: block;
    transition: 0.5s;
}

