#skill {
    padding: 30px 0;
}
#skill .sub-title {
    margin-bottom: 20px;
}
#skill p {
	 line-height: 1.6;
     padding-top: 20px;
	 color: #fff;
	 font-weight: normal;
}
#skill img{
	 width: 60%;
	 height: auto;
}
 body .button, html .button {
	 position: relative;
	 display: table;
	 padding: 0.75em 3em;
	 background: #000;
	 color: #fff;
	 text-decoration: none;
	 margin-top: 1.5em;
	 text-transform: uppercase;
}
 body .button:hover, html .button:hover {
	 background: #2f2f2f;
}
 body .wrapper, html .wrapper {
	 width: 100%;
	 max-width: 1200px;
	 margin: 0 auto;
	 text-align: center;
	 color: #1e90ff ;
	 padding: 1.5em;
}

 .swiper {
	 padding: 1.5em;
}
 .swiper .content-wrapper {
	 position: relative;
	 display: grid;
	 grid-template-columns: 1fr;
	 grid-template-rows: 1fr;
	 grid-template-areas: ".";
	 width: 100%;
	 justify-items: center;
	 align-items: center;
}
 .swiper .content-wrapper .content {
	 padding: 3em 1.5em;
	 text-align: center;
	 display: grid;
	 justify-items: center;
	 align-items: center;
	 margin: 0 auto;
	 color: #000;
}
 .swiper .content-wrapper .content :first-child {
	 margin: 0;
}
 .swiper .content-wrapper .content .swiper-avatar {
	 width: 100%;
	 max-width: 125px;
	 height: auto;
}
 .swiper .content-wrapper .content .cite {
	 font-size: 14px;
	 font-weight: bold;
}
 .swiper .swiper-slide {
	 margin: 0;
	 height: auto;
	 width: 100%;
	 padding: 0;
	 opacity: 0.2;
	 background: rgba(255, 255, 255, .3);
	 border-radius: 6px;
	 transition: all 0.5s ease-in-out;
	 border-radius: 6px;
}
 .swiper .swiper-slide.swiper-slide-active {
	 background: #1e90ff ;
	 opacity: 1;
	 transform: scale(1.1);
}
 .swiper .swiper-nav-wrapper {
	 bottom: 0;
	 left: 0;
	 right: 0;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 margin: 0 auto;
	 width: auto;
	 padding-top: 3em;
}
 .swiper .swiper-nav-wrapper .swiper-button-next, .swiper .swiper-nav-wrapper .swiper-button-prev {
	 top: 0;
	 top: auto;
	 left: auto;
	 right: auto;
	 position: relative !important;
}
 .swiper .swiper-nav-wrapper .swiper-button-next:after, .swiper .swiper-nav-wrapper .swiper-button-prev:after {
	 display: none;
}
 .swiper .swiper-nav-wrapper .swiper-button-next, .swiper .swiper-nav-wrapper .swiper-container-rtl .swiper-button-prev {
	 background-image: url("data:image/svg+xml,%0A%3Csvg width='9px' height='16px' viewBox='0 0 9 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='chevron-right' fill='%231e90ff ' fill-rule='nonzero'%3E%3Cpath d='M8.674805,7.066406 L1.924805,0.316406 C1.696288,0.105468 1.432619,0 1.133789,0 C0.834959,0 0.57129,0.105468 0.342773,0.316406 C0.114257,0.544923 0,0.808592 0,1.107422 C0,1.406251 0.114257,1.669921 0.342773,1.898438 L6.301758,7.857422 L0.342773,13.816406 C0.114257,14.044923 0,14.308592 0,14.607422 C0,14.906251 0.114257,15.169921 0.342773,15.398438 C0.465821,15.521485 0.584472,15.609375 0.69873,15.662109 C0.812989,15.714844 0.958007,15.741211 1.133789,15.741211 C1.309571,15.741211 1.454589,15.714844 1.568848,15.662109 C1.683106,15.609375 1.801757,15.521485 1.924805,15.398438 L8.674805,8.648438 C8.903321,8.419921 9.017578,8.156251 9.017578,7.857422 C9.017578,7.558592 8.903321,7.294923 8.674805,7.066406 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
	 width: 20px;
	 height: 20px;
	 background-size: 20px 20px;
	 background-repeat: no-repeat;
	 margin: 0;
	 padding: 0;
}
 .swiper .swiper-nav-wrapper .swiper-button-prev, .swiper .swiper-nav-wrapper .swiper-container-rtl .swiper-button-next {
	 background-image: url("data:image/svg+xml,%0A%3Csvg width='9px' height='16px' viewBox='0 0 9 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='chevron-right' transform='translate(4.508789, 7.870605) rotate(-180.000000) translate(-4.508789, -7.870605) translate(-0.000000, -0.000000)' fill='%231e90ff ' fill-rule='nonzero'%3E%3Cpath d='M8.674805,7.066406 L1.924805,0.316406 C1.696288,0.105468 1.432619,0 1.133789,0 C0.834959,0 0.57129,0.105468 0.342773,0.316406 C0.114257,0.544923 0,0.808592 0,1.107422 C0,1.406251 0.114257,1.669921 0.342773,1.898438 L6.301758,7.857422 L0.342773,13.816406 C0.114257,14.044923 0,14.308592 0,14.607422 C0,14.906251 0.114257,15.169921 0.342773,15.398438 C0.465821,15.521485 0.584472,15.609375 0.69873,15.662109 C0.812989,15.714844 0.958007,15.741211 1.133789,15.741211 C1.309571,15.741211 1.454589,15.714844 1.568848,15.662109 C1.683106,15.609375 1.801757,15.521485 1.924805,15.398438 L8.674805,8.648438 C8.903321,8.419921 9.017578,8.156251 9.017578,7.857422 C9.017578,7.558592 8.903321,7.294923 8.674805,7.066406 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
	 width: 20px;
	 height: 20px;
	 background-size: 20px 20px;
	 background-repeat: no-repeat;
	 margin: 0;
	 padding: 0;
}
 .swiper-pagination {
	 margin: 0;
	 padding: 0;
	 width: auto;
	 position: relative !important;
	 display: block;
	 width: auto;
}
 .swiper-pagination .swiper-pagination-bullets {
	 margin: 0;
}
 .swiper-pagination .swiper-pagination-bullets .swiper-pagination-bullet {
	 margin: 0;
	 background: #1e90ff  !important;
}
 .swiper-pagination-bullet {
	 background: #1e90ff  !important;
	 transition: all 0.2s ease-in-out;
}
 .swiper-pagination-bullets.swiper-pagination-horizontal {
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 bottom: 0;
	 top: 0;
	 bottom: 0;
	 width: auto;
	 padding: 0 1.5em;
}
 .swiper-pagination-bullet-active {
	 transform: scale(1.5);
}
 

 

 


